<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/forms.css")
        link(rel="stylesheet", href="/css/product.css")
        title #{pageTitle}
    body
        //- indentation matters for levels or tags nested in each other
        //- before period is tag, after period is class
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        //- parenthesis for attributes
                        //- shop is text that will go inside anchor tag
                        a(href="/") Shop
                    li.main-header__item
                        a.active(href="/admin/add-product") Add Product
        main
            form.product-form(action="/admin/add-product", method="POST")
                .form-control
                    label(for="title") Title
                    //- css selector for id="title" i.e. use #title
                    input(type="text", name="title")#title
                button.btn(type="submit") Add Product